.appWrapper{
  background-color:#F0D2D1;
}

.app{
  width: auto;
  height: auto;
  background-color: rgb(130, 195, 255);
  display: flex;
  text-align: center;
  flex-direction: column;
}

.app h1{
  padding-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 3em;
  font-weight: 100;
}

.app b{
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  font-weight: 200;
}

.app button{
  width: 100px;
  margin: auto;
  margin-top: 0;
  background-color: white;
  padding: 20px, 40px;
  border: solid;
  border-width: 1px;
  margin-bottom: 50px;
}

.app button:hover{
  border: solid;
  background-color: transparent;
  color: white;
  border-width: 1px;
}

.reviews {
  border-radius: 8px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.reviews h2 {
  color: #000000; /* Dark blue */
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 2.2em;
}

.reviews h3 {
  color: #001f3f; /* Navy blue */
  margin: 10px 0;
}

.reviews b {
  color: #000000; /* Gold for rating */
  font-size: 1.2em;
}

.reviews p {
  color: #333; /* Dark gray for comments */
  background-color: #ffffff; /* White background for comments */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.reviews div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 1px;
  transition: transform 0.2s;
}
.reviewForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  min-height: 200px;
  margin: auto;
}

.reviewForm input{
  min-height: 30px;
}